@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url('sing.jpg'); 
    background-size: cover; 

    background-repeat: no-repeat; 

    background-attachment: fixed;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: rgba(76,68,182,0.808);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}

/********* Home *****************/

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo img {
    size: 1px;
    font-size:  10rem; 
  
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 99%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 0px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 0px 0px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}

header{
 
  position:fixed ;
  top: 0; left:0 ; right: 0;
  background:#ffa500;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content:space-between;
  /* align-content: center; */
  padding:2rem 9%;
  
  
  
  
  
}
header img .villa{
  font-size: 10px;

  font-weight: bolder;
  color:#fff;
}
header img .villa{
  font-size: 8rem;
  
}

header  .logo {
  color:#111 ;
  font: size 10rem; 
  margin-left: 1rem;
  border: rgba(255, 255, 255, .2);

} 
header  .logo span{
  font-size: 22px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  border-color:#111 ;

}
header  .logo span:hover{
  color: #111;
}
header .navbar a{
  color: #fff;
  font-size: 2rem;
  margin:.8rem;   
  text-align: center;
  text-decoration: none;
  

  
}
header  .navbar a:hover{
  color:#111; 
}


header  .icons i{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  padding-left: 1rem;
}  

header  .icons i:hover{
  color: #333;
}

header .search-bar-container{

  position:absolute;
  top: 100%; left: 0; right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: .1rem solid rgba(255, 255, 255, .2) ;
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 0 0 );

}
header  .search-bar-container.active{
  clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);   
}  

 header  .language .language-Bar{
  position: absolute;
  top: 100%; left: 10; right: 5rem;
  padding: 10px 15px;
  background-color: #111;
  border-top: .1rem solid rgba(255, 255, 255, .2) ; 
  display: flex;
  border-radius:0 0 3rem 3rem ;
  font-size: 1.5rem;
  clip-path: polygon(0 0, 100% 0, 0 0 );
  

 } 
 header .language .language-Bar.active{
  
  clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
 }


 
 header .language .language-Bar a{
  color: #eee;;
  font-size: 1.9rem;
  
 }
 header  .language .language-Bar a:hover{
  color: #ffa500 ;
 }
 




header  .search-bar-container #search-bar{
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.2rem;
  border-radius: 5rem;
}  

 header  .search-bar-container label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}
header  .search-bar-container label:hover{
  color:#ffa500;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&display=swap');



:root{
  --orange:#333;
}

*{
  font-family: 'Nunito',sans-serif;
  margin: 0; padding: 0;
  box-sizing:border-box ;
  text-transform: capitalize;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s linear;
  
}

*::selection{
  background: var(orange);
  color: #fff;
}
html{
  font-size: 60%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  background-color:#f7f5f5;
  
}
body{
  justify-content: center;
}



.fabs {
  position: fixed;
  right: 20px;
  bottom: 20px;
} 

.action {
  background: #ffa500;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 7px 0px gray;
  transition: background-color 0.4s ease-in-out;
} 

.action i {

  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  cursor: pointer;
}

.action:hover {
  background-color:#25D366;
}

.btn1 {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
} 

.btn1 i {
  position: absolute;
  font-size: 18px;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} 

.btns {
  position: absolute;
  bottom: 0px;
  margin-bottom: 5px;
  height: 35px;
  width: 35px;
  transition: 0.3s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.btns.open {
  bottom: 50px;
} 





section{
  padding: 2rem; 9%;

} 

.heading{
  text-align: center;
  padding: 1.5rem 0; 
}


.heading span{
  font-size: 3.5rem;
  background: rgba(255, 165, 0, .2);
  color: #ffa500;
  border-radius: .5rem;
  padding: 2rem 1rem;
} 

.heading span.space{
  background: none;
} 
.btn{
  display: inline-block;
  margin-top: 1rem;
  background: #ffa500;
  color: #fff;
  padding: .7rem 3rem;
  border: .2rem solid #ffa500;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 1rem;
  text-decoration: none;
  outline: none;

} 

.btn:hover{
  background: rgba(255, 165, 0, .2);
  color: #ffa500;
} 


header{
 
  position:fixed ;
  top: 0; left:0 ; right: 0;
  background:#ffa500;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content:space-between;
  /* align-content: center; */
  padding:2rem 9%;
  
  
  
  
  
}
header img .villa{
  font-size: 10px;

  font-weight: bolder;
  color:#fff;
}
header img .villa{
  font-size: 8rem;
  
}

header  .logo {
  color:#111 ;
  font: size 10rem; 
  margin-left: 1rem;
  border: rgba(255, 255, 255, .2);

} 
header  .logo span{
  font-size: 22px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  border-color:#111 ;

}
header  .logo span:hover{
  color: #111;
}
header .navbar a{
  color: #fff;
  font-size: 2rem;
  margin:.8rem;   
  text-align: center;
  text-decoration: none;
  

  
}
header  .navbar a:hover{
  color:#111; 
}


header  .icons i{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  padding-left: 1rem;
}  

header  .icons i:hover{
  color: #333;
}

header .search-bar-container{

  position:absolute;
  top: 100%; left: 0; right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: .1rem solid rgba(255, 255, 255, .2) ;
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 0 0 );

}
header  .search-bar-container.active{
  clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);   
}  

 header  .language .language-Bar{
  position: absolute;
  top: 100%; left: 10; right: 5rem;
  padding: 10px 15px;
  background-color: #111;
  border-top: .1rem solid rgba(255, 255, 255, .2) ; 
  display: flex;
  border-radius:0 0 3rem 3rem ;
  font-size: 1.5rem;
  clip-path: polygon(0 0, 100% 0, 0 0 );
  

 } 
 header .language .language-Bar.active{
  
  clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
 }


 
 header .language .language-Bar a{
  color: #eee;;
  font-size: 1.9rem;
  
 }
 header  .language .language-Bar a:hover{
  color: #ffa500 ;
 }
 




header  .search-bar-container #search-bar{
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.2rem;
  border-radius: 5rem;
}  

 header  .search-bar-container label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}
header  .search-bar-container label:hover{
  color:#ffa500;
}


 .review .review-slider{
  padding: .5rem  0;
 }

 .review .box{
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
 }

 .review .box img{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  object-fit: cover;


 }

 .review .box h3{
  color: #333;
  font-size:2.5rem ;

 }

 .review .box h4{
  color: #111;
  font-size:1.5rem ;

 }
 
 .review .box .social{
  padding:2rem ;
  justify-content: center;
  
 }
 .review .box .social a{
  justify-content: center;
  font-size: 1.8rem;
  height: 2rem;
  width: 2rem;
  margin: .8rem;
  padding: 1rem;
  color: #ffa500;
  height: 2rem;
  width: 2rem;
  background-color: #111;
  border-radius: 50%;


 }
 .review .box .social span{
  height: 2rem;
  width: 2rem;
  
 }
 .review .box .social span #facebook{
  color: blue;
 }

 .review .box .stars i{
  margin: 1rem;
 
  height: 1rem;
 
  width: 1rem;
 
  color: #ffa500;
 
  font-size:2.7rem ;
 }

 .like-section {
  display: flex;
  align-items: center;
}

.heart {
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
  color: red;
}

.heart.red {
  color: red;
}

 
 .contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center; 
  
}

.contact .row .image{
  flex: 1 1 40rem;
}
.contact .row .image img{
  width: 100%;
}
 .contact .row  form{
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
  
 }

 .contact .row  form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: .5rem;
  padding: .5 0;

 }
 .contact .row  form   .inputBox  input, .contact .row  form textarea {
  width: 49%;
  margin:1rem 0  ;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background:#ffa500;
  text-transform: none;
  text-decoration:none;
  

 }
 .contact .row  form textarea{
  height: 15rem;
  resize: none;
  width: 100%;
 }
 .main-content .locatio{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
 }
 .locatio{
  
  background-color: #111;
  color: #ffa500;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content:start;
  padding-right: 150px;
  
 }


 .locatio a{
  font-size: 18px;

  color: #ffa500;
  align-items: center;
  margin: 30px;
  align-items: center;
  
  
 }
 .locatio .ca{
  left: 20px;

 }
 .footer-button{
  background-color:#ffa500 ;
  color: #ffa500;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content:start;
  padding-right: 150p
 }
 .footer-button .copy{
  color: white;
  
 }
 .main-box top .top p{
  color: #ffa500;
 }
 


 


 






 








 .gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color: #ffa500;
 } 

 .gallery .box-container .box .content p{
  font-size: 1.5rem;
  color: #eee;
  padding: .5rem 0;
  text-transform:none;
  font-weight:600;
 } 



 
 .main-content{
  display: flex;
  flex-wrap: wrap;
  background: #000000;
  text-transform: uppercase;
  flex-direction:row;
  padding-left: 20px;
 }
 .footer{
  background: #ffa500;
 }
 .footer .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
 }
 .footer .copy p{
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
 }

 .main-content .box{
  flex-basis: 30%;
  padding: 10px 25px;
 }
 .main-content .locatio{
  flex-basis: 30%;
  padding: 10px 25px;
 }
 .main-content .box .content{
  margin-bottom: 40px;
 }
 
 .box h2{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform:uppercase;
  color:#ffa500 ;
  padding: 5px;
  align-items: center;
  padding-left: 8rem;

 }
 .main-content .box .content p{
  text-transform:none;
 }
 .box .content{
  margin: 10px 10px 10px 10px;
  color: #ffffff;
  font-size: 16px;
  text-transform: none;
  margin-bottom: 40px;
  

 }
 .box .content .message{
  justify-content: center;
 }

 .box .content .email .text {
  text-transform: lowercase;
 }
 .left .content .social{
  margin: 20px 0 0 0;
  padding: 20px;
  padding-top: 10px;

 }
 .center .content .social{
  margin: 20px 0 0 0;
  padding: 20px;
  padding-top: 20px;
  

 }
 .center .content .email{
  padding-top: 20px;
 }
 .center .content .phone{
  padding-top: 20px;
 }

 .left .content .social a{
  padding: 10px 10px;
  size: 5px;

 }
 .center .content .social a{
  padding: 10px 10px;
  size: 5px;

 }
 

 .left .content .social a span{
  height: 40px;
  width: 40px;
  background:#ffa500;
  line-height: 40px;
  text-align:center;
  justify-content: center;
  font-size: 20px;
  border-radius: 3px;
  
  
 }
 .center .content .social a span{
  height: 40px;
  width: 40px;
  background:#ffa500;
  line-height: 40px;
  text-align:center;
  justify-content: center;
  font-size: 20px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: lowercase;
 }

 .main-content .right .content .box{
  display: flex;
  border-radius: 5rem;
  text-transform: lowercase;
  width: 100%;
  
  
 }
 .main-content .right .content #message{
  display:flex;
  position: absolute;
  width: 100%;
  text-transform:lowercase;
  border-radius: 7rem;
  box-sizing:border-box;
  
 }
 .main-content .right .content .locations{
  font-size: 2.5rem;
  color: #ffa500;
  align-items: center;
 }
 .main-content .right .content .locations a{
  text-transform: uppercase;
  color: #ffa500;
  align-items: center;
  justify-content: center;
  
 }
 .main-content .right .content .locations span{
  color: #ffa500;
 }
 .main-content .right .content .locations a:hover{
  color: blue;
 }
 .main-content .right .content .box:hover{
  background-color:#f7f7f7;
 }
 .right .box h3{
  font-size: 10rem;
  color: #ffa500;
 }

body{
  margin: 0;
  padding: px;
} 

@media(max-width:1220px) {
  html{
    font-size: 55%;

    
    
  }
}  


@media (max-width:1200px) {
  header{
    padding: 1rem;
  }
  section{
    padding: 1rem;
  }
}  

@media (max-width:968px) {
  
  #menu-bar{
    display:initial ;   
  } 
   
  header .navbar {
    position: absolute;
    top:100% ;  right: 0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    padding: 1rem 2rem;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0) ;
    
  }  


  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  } 


  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
 
}  

@media(max-width:500px) {
  html{
    
    font-size: 60%;
  }
  
  
  
  

  .locatio{
    display:grid;
    padding-right: 40px;
    background-color: #111;
    padding: 7px;
  }
} 



 @media(max-width:1221px) {
  .main-content{

    flex-direction:column ;
    padding-bottom: 2px;
  }
  .header .logos{
    margin-left: px;
  }

  
}    






















